#viewer {
    display: flex;
    margin-top: 40px;
  }


body {
    max-width: 1080px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
  }


#rotate {
    transform: rotate(180deg);
    background-color: gray;
}

#previous {
    background-color: gray;
}

#fox {
    z-index: -1;
}

.foxy {
    z-index: -1;
    position: relative; 
}

.subtitles {
    background-color: darkgray;
    background-blend-mode: overlay;
    bottom: 0;
    right: 0;
    left: 0;
    position: absolute;
}